{
  "parser": "babel-eslint",
  "env": {
    "node": true,
    "es6": true
  },
  "rules": {
    "curly": [2, "multi-line"],
    "global-strict": 0,
    "no-underscore-dangle": 0,
    "quotes": [1, "single"],
    "strict": [2, "global"]
  }
}
